[2021-07-14 08:51] jorgelbg opened #1 "Homebrew formula"
Allow installation without downloading the binary directly or compiling from the source (which needs the entire Go toolchain)

[2021-07-14 09:06] jorgelbg opened #2 "Store the password in the Secure enclave"
It would be nice to store the password in the Secure Enclave similar to how https://github.com/maxgoedjen/secretive does.

I didn't find a Golang library that allowed this and for now it is stored as an issue/would be nice to have at some point. This would also imply not being compatible with the normal pinentry-mac.

[2021-07-14 10:24] jorgelbg opened #3 "Support for ARM/M1 Macs"
Tried generating binaries for the M1 Macs via goreleaser, but it fails with:

[code]

There seems to be a build constraint in https://github.com/lox/go-touchid.

[2021-07-19 23:34] #1 closed

[2021-07-20 12:21] jorgelbg opened #4 "Apple Watch support for devices without Touch ID"
I'm not sure about this, but I will put it here just to keep track of it. It would be nice for devices without Touch ID if we were to use the Apple Watch instead of Touch ID. My 2015 Macbook pro does this for different scenarios.

[2021-07-20 12:47] jorgelbg commented on #3
Commit https://github.com/jorgelbg/pinentry-touchid/commit/45ffb9786703b38957bdbb24a792363ba9feeb4a enabled cross-compilation for M1 macs (Darwin/arm64 architecture). Nevertheless the build has not been tested on an actual M1 mac yet.

[2021-07-21 00:45] jorgelbg opened #5 "Execution hangs when running in a Macbook Pro without Touch ID"
I tested running a build of this (from commit 45ffb9786703b38957bdbb24a792363ba9feeb4a) in my 2015 Macbook Pro that lacks the Touch ID sensor and the program just seems to hang when the call to `touchid.Authenticate` happens.

This is also reproducible when running the sample code from https://github.com/lox/go-touchid/blob/master/cli/main.go.

[2021-07-21 22:22] #5 closed

[2021-09-01 10:08] jorgelbg commented on #2
This seems to not be possible currently:

from https://developer.apple.com/documentation/security/ksecattrtokenidsecureenclave.

[2021-09-01 10:08] #2 closed

[2021-09-08 04:58] rickosborne commented on #3
Doesn't work on my 2020 Air with M1, running 11.5.2.  I tried the version from brew, then manually downloaded the v0.0.2 release, replaced the binary, and tried a few basic gpg operations.  Example log:

[code]

[2021-09-08 14:18] jorgelbg commented on #3
@rickosborne First of all thank you for providing feedback!

Can you manually run the `pinentry-touchid` binary with the `--check` flag?

[code]

This only checks if the `pinentry-mac` is also present in the system but it should at least verify that the binary is working as expected.

Additionally, can you check if there is any additional info logged in the file `/tmp/pinentry-touchid.log`? This m

[2021-09-08 14:56] rickosborne commented on #3
[code]

But also, from `/tmp/pinentry-touchid.log`:

[code]

(This repeated a number of times.)

My `gpg-agent.conf` in case it might be useful:

[code]

[2021-09-08 15:44] rickosborne commented on #3
Okay, I dug around on this a bit more.  I don't know much about Go or its ecosystem, but I was able to figure out how to use goreleaser to get a build in a local `dist`.  (Building from 6662c460697c3c92b47f89908953647bffdc5d5e locally.)  Completely uninstalling the brew version of pinentry-touchid (just in case) and putting the built version in ~/bin, I can see it's the updated version:

[code]

U

[2021-09-08 16:32] jorgelbg commented on #3
I'm using the same `pinentry-mac` version too:

[code]

The error that `pinentry-touchid` is reporting:

[code]

seems to be coming from the [upstream dependency](https://github.com/gopasspw/pinentry) that I use to interact with the fallback `pinentry` implementation when an entry is not found in the Keychain 🤔 (i.e asking for the actual passphrase).

Can you share the output of `gpgconf`?

I push

[2021-09-08 16:58] rickosborne commented on #3
[code]

After pulling down that update, and running in GoLand:

[code]

[2021-09-08 17:10] rickosborne commented on #3
FWIW, it _seems_ like my pinentry-mac config works okay.  When I switch over to use it in `gpg-agent.conf` and ask to encrypt anything, I do get prompted:

<img width="657" alt="pinentry-mac" src="https://user-images.githubusercontent.com/252291/132554022-cfd770d3-6abb-4673-949c-87a308cf9429.png">

If I then use the correct passphrase, the encryption succeeds.

Having said all of that, I don't use

[2021-09-08 17:42] rickosborne commented on #3
Okay, I figured it out.  (I am dumb.)  I'm going to document my investigation and thought process, in the hopes that it gets picked up by search engines and helps future folks.  I'll also open a minor PR against your README which I think will help.

Basically: I hadn't configured pinentry-mac to actually use the Keychain.  (Because, frankly, the README for pinentry doesn't actually say you can do

[2021-09-08 17:59] jorgelbg commented on #3
Glad to know that it is now working and on an M1 Mac 🎉 🥳!

So the main issue was that `pinentry-mac` was not using the Keychain *at all*. TBH I would've expected that `pinentry-touchid` would have just requested the password once and create the keychain entry directly. I will try to reproduce it locally by disabling the Keychain and following your steps. I'm just trying to figure out if there is a

[2021-09-08 18:42] rickosborne commented on #3
Yeah, I think there may also be something on my end.  I still haven't gotten IntelliJ-GPG integration working.  I note that [their docs](https://www.jetbrains.com/help/idea/set-up-GPG-commit-signing.html#set-up-gpg-keys) include the assertion that:

[code]

Should just work.  Unfortunately for me, that's not the case:

[code]

Familiar error, right?

The pinentry I'm using is also from Homebrew, b

[2021-09-09 08:58] jorgelbg commented on #3
From your output of `gpgconf`:

[code]

Where does `/opt/homebrew/opt/pinentry/bin/pinentry` is linked? In my system `pinentry` (eventually) points to `pinentry-curses` which indeed requires a TTY.
[code]

For the record this also fails for me:
[code]

but `gpgconf` (in my case) contains:
[code]

[2021-09-10 01:50] rickosborne commented on #3
Dangit.  I continue to be the dumbest smart person ever.

It didn't even occur to me to just update that link.  I keep looking for a config option.  Sigh.

Yep.  That did it.  I pointed that link at pinentry-touchid and both command-line and IJ now work like a champ.  Sweet!  And thank you so much for the help!

[2021-09-10 21:40] jorgelbg commented on #3
Happy that it worked 🎉!

I ran the test locally by disabling the use of keychain (by `pinentry-mac`) and removed my entry from the keychain and it worked as expected. The keychain entry got created even if `pinentry-mac` does not use the Keychain at all. Internally we only use `pinentry-mac` to get the password from the user (essentially I wanted to avoid rewriting pinentry-mac and having to do so

[2021-09-12 18:35] shepherdjerred commented on #3
@rickosborne [your comment](https://github.com/jorgelbg/pinentry-touchid/issues/3#issuecomment-915440261) helped me set this up. thanks so much for the detailed instructions!

[2021-09-13 16:46] jorgelbg commented on #3
@shepherdjerred Glad that you got it running 🥳!

Can you share the output of `gpgconf`? I suspect that when GPG is installed via homebrew the output of `gpgconf` is pointing to `pinentry` which (at least in my case) points to `pinentry-curses`  and it never really uses `pinentry-mac`.

<hr/>

@shepherdjerred Thank you! You are too kind! I never really though about it 😅. Thanks for encouraging me i

[2021-09-13 17:45] shepherdjerred commented on #3
[code]

Here are my [dotfiles](https://github.com/shepherdjerred/dotfiles/)

[2021-09-15 14:20] jorgelbg commented on #3
yep:

[code]

Which should also mean that `/opt/homebrew/opt/pinentry/bin/pinentry` is/was pointing to `pinentry-ncurses`. Similar default setup from @rickosborne: https://github.com/jorgelbg/pinentry-touchid/issues/3#issuecomment-916568035.

I added some more logic to the `--check` flag in https://github.com/jorgelbg/pinentry-touchid/commit/bffcc2c2a801e145ce690a403b2838d4b6eca70d. If the binary

[2021-09-15 16:02] shepherdjerred commented on #3
I think you're correct!
[code]

[2021-09-15 17:30] shepherdjerred commented on #3
Hm, it seems that I've ran into a new error:
[code]

[code]

I updated from macOS Big Sur 11.5 to 11.6 last night. Maybe that's why?

[2021-09-15 21:52] jorgelbg commented on #3
Strange, I just upgraded my work laptop to 11.6 (build 20G165) and it is still working fine. Can you check if everything is configured properly in `~/.gnupg/gpg-agent.conf`. The `No pinentry` message seems to be pointing out that the gpg-agent is failing to locate/execute the pinentry program altogether 🤔.

[2021-09-16 16:03] shepherdjerred commented on #3
I don't think I've changed my configuration at all..

[code]

Gpg works fine when I have pinentry-program set to pinentry-mac...

[2021-09-17 12:23] jorgelbg commented on #3
Can you check `/tmp/pinentry-touchid.log` to see if anything is being logged there? Also, if gpg-agent is reporting any additional errors (you may need to enable logging for the gpg-agent):

(you can add this to your `gpg-agent.conf` file)
[code]

So you are running pinentry-touchid in an M1 device right? I upgraded to 11.6 but my machine is a 16" Intel one.

[2021-09-22 11:48] jorgelbg commented on #3
@shepherdjerred did you solve the issue? I couldn't reproduce it on my end and wondering if it is related to a change only affecting M1 machines 🤔.

[2021-09-22 16:20] shepherdjerred commented on #3
Hi! Sorry, I've been focused on work haha. I'll try your suggestions and get back to you.

[2021-09-22 16:22] shepherdjerred commented on #3
[code]

[2021-09-29 14:52] jorgelbg commented on #3
I think that this path is correct right `/opt/homebrew/opt/pinentry-touchid/bin/pinentry-touchid`? If you execute it you can see the `OK Hi from pinentry-touchid!` message?

I find it strange that from the logs that pinentry-touchid did log something but **after** gpg-agent had already failed to communicate. So pinentry-touchid was ready at `09:22:14` but gpg-agent had already failed at `09:21:51`

[2021-10-01 21:29] shepherdjerred commented on #3
[code]

[2021-10-07 13:51] jorgelbg commented on #3
@shepherdjerred by any chance did you change the `/usr/local/bin/pinentry` symlink? Is the output of `gpgconf` still the same as you posted here: https://github.com/jorgelbg/pinentry-touchid/issues/3#issuecomment-918427060? Especially the `pinentry:Passphrase Entry:` line? I still don't get why it takes >10s for pinentry-touchid to report as ready (from the logs) but gpg-agent gives up almost inst

[2021-10-23 11:20] Dentrax opened #7 "Consider clarify installation section (in case pinentry-mac does not installed)"
I was trying to test the `pinentry` command as described in the installation section, but it failed eventually.

[code]

Then I installed the [pinentry-mac](https://github.com/GPGTools/pinentry-mac),  and it seems this fixed the issue. It had better notice this detail in the README.

[2021-10-23 21:03] Dentrax opened #9 "gpg throws "You may want to update to a newer pinentry" error during signing git commit (fresh install)"
After I applied the installation instructions step by step, I got an error while signing commit. The problem is in the communication between the gpg-agent and the pinentry program as the following debug output shows: [^1]

[code]

I reload gpg-agent daemon:
[code]

This one works:
[code]

gpg-agent:
[code]

pinentry-mac:
[code]

`MacBook Pro (16-inch, Late 2019) - macOS 11 - Intel`

But the `pinen

[2021-11-10 22:35] #7 closed

[2021-11-11 18:04] congoelmex opened #10 "Can't get it to work on macOS Monterey 12.0.1"
Hi Jorge,

Did you already manage to get pinentry-touchid to work with macOS 12.0.1? Or is it maybe already working for you?

I installed it following your guide here on github via homebrew.

For me it isn't and just throws:

`sign_and_send_pubkey: signing failed for RSA "cardno:000x 0000xxxx" from agent: agent refused operation`

pinentry-mac is working fine.

Here's my .zshrc:

[code]

I used pi

[2021-11-16 14:20] Gby56 opened #11 "No touchid prompt"
Hi,

I've been able to configure pinentry-mac to work and store the key's passphrase in the keychain, no issue whatsoever.

But once I switch my ~/.gnupg/gpg-agent.conf to
[code]
It never brings the touchID prompt.
I have looked into allowing pinentry-touchid in the access control of the keychain entry as mentionned.

![image](https://user-images.githubusercontent.com/6706472/142001551-ce4964ea-aa

[2021-11-16 14:37] Gby56 commented on #10
Hi @congoelmex, I opened an issue for a slightly different issue, but like yourself, I can get pinentry-mac to work, not the touchID.
I do see the keychain entry and I tried allowing pinentry-touchid but it still won't prompt me anything...

[2021-11-16 14:55] jorgelbg commented on #10
Hi @congoelmex, Thanks for opening this issue.
Unfortunately I haven't tested pinentry-touchid in macOS Monterey just yet. @Gby56 are you also running in macOS Monterey? I will post here as soon as I have some more info.

[2021-11-16 15:08] Gby56 commented on #11
[code]

[code]
/tmp/pinentry-touchid.log
[code]

[code]
Seems like homebrew, I'm running Monterey 12.0.1 (21A559), thanks a lot for taking a look into this :)

[2021-11-16 15:13] Gby56 commented on #11
Here's a quick extract from the pgp debug log, sorry I forgot to add that
[code]

[2021-11-16 15:20] Gby56 commented on #11
FYI I just saw a similar comment here https://golangrepo.com/repo/jorgelbg-pinentry-touchid-go-security
the ` You may want to update to a newer pinentry` is interesting 🤔

[2021-11-16 16:14] Gby56 commented on #9
I think my issue https://github.com/jorgelbg/pinentry-touchid/issues/11 is the same :/ Any updates on this @Dentrax

[2021-11-16 16:17] jorgelbg commented on #9
Hi @Dentrax I was able to reproduce this locally when invoking the `gpg-agent` using the command from the terminal _even when the `GPG_TTY` environment variable is set in my environment.

If instead I specify the `pinentry-program` via the `~/.gnupg/gpg-agent.conf` file and use `gpg-connect-agent reloadagent /bye` to restart the process:

[code]

Then `pinentry-touchid` is able to successfully cal

[2021-11-16 16:44] jorgelbg commented on #11
Any time! Glad that you are willing to give it a try!

From the `gpgconf` output I see that the path returned for the `pinentry:Passphrase Entry` key is pointing to `/usr/local/opt/pinentry/bin/pinentry`. On my system that symlink points to `pinentry-ncurses`:

[code]

Can you try to force that symlink to `pinentry-mac` and try again? This is what I executed on my system:

[code]

[2021-11-16 17:10] Gby56 commented on #11
[code]
[code]
[code]

[code]

I think we've got something interesting, duplicated entry in the keychain ?

[2021-11-17 09:34] VxJasonxV opened #12 "pinentry-touchid cannot be configured until after you have a key"
I set up pinentry-touchid at the start of a new machine before creating a new GPG key, I was never asked for a passphrase when going through key generation and was left very confused. Only after disabling the configuration (commenting out the gpg-agent.conf configuration line) was I prompted for a GPG key passphrase.

I'm not informed enough on the particulars of GPG to offer a documentation chang

[2021-11-17 11:32] Dentrax commented on #9
Thanks, @jorgelbg! I tried this one but still no luck.

[code]

[2021-11-17 17:27] jorgelbg commented on #12
Good catch @VxJasonxV!

I had never tried creating a brand new GPG key while having pinentry-touchid configured in the `gpg-agent.conf` 😅. I will try to implement a fallback to pinentry-mac for this case, or update the documentation accordingly.

[2021-11-22 22:20] #12 closed

[2021-11-22 23:04] jorgelbg commented on #12
@VxJasonxV This should work now, if you are willing to build from the main branch, othwerwise I'm planning on tagging a new release in the next few days.

[2021-11-23 09:58] loganm commented on #10
+1

I am also struggling to get this working on Monterey. Subscribing myself to any updates here.

[2021-11-24 07:50] brandonryan commented on #10
I have the same issue. Fresh install with hombrew.
`/tmp/pinentry-touchid.log`:
[code]

[2021-11-30 17:56] jaismith commented on #3
@jorgelbg any updates on this?

[2021-12-11 11:35] fioleto opened #13 "Conflict log file owner when using fast user switching on the Macbook."
Hello.

I face a problem that conflicting log file owners when using fast user switching.
Therefore, every time I switch users, required to remove `/tmp/pinentry-touchid.log` as a root.

Could you possibly add some prefix or suffix to the default log file name,  enable a specific log file path, or just the option of omitting logfile?

Thank you.

[2021-12-12 19:12] #13 closed

[2021-12-12 19:29] jorgelbg commented on #13
@fioleto Thanks for the report. This was indeed an issue. A fix was added in commit https://github.com/jorgelbg/pinentry-touchid/commit/3ebb30fcabe3916fe0dc776ac0b555d8983545f3 which now uses a user-scoped directory. I will do a release containing the fix shortly.

[2021-12-15 04:50] obi12341 opened #15 "No password prompt when lid closed"
I would expect pinentry just passthrough the call to pinentry-mac, if laptop lid is closed, but instead it fails the hard way:
[code]
I use the Macbook Air M1 which has touchid
[code]

[2021-12-27 08:43] tommyip commented on #10
Just as a data point, this does work for me on Monterey 12.1 (M1 Pro).

[2021-12-30 19:41] AuHau opened #17 "No `SETKEYINFO` provided by GPG"
## Describe the bug

I have been trying to set up `pinentry-touchid` the whole day. First I run into the problem of the `pinentry` symlink using `pinentry-curse` that I have fixed using forcing the symlink to use `pinentry-touchid`, but that still has not resolved the issue.
It was obvious that `gpg-agent` uses `pinetrny-touchid` but between `gpg-agent` restarts no Touch ID prompt showed up and in

[2022-01-08 02:13] fredwangwang commented on #3
I run into the same issue, even on the intel based macbook. (MBP 16 2019, Big Sur 11.6)

Found out the problem, at least in my case, is the additional `--display` flag passed to the pinentry-touchid from gpg. It seems due to **XQuartz** been installed on the system.

I put up a quick fix here: https://github.com/jorgelbg/pinentry-touchid/pull/18

[2022-01-10 19:49] jaismith commented on #3
This appears to have resolved itself on Monterey, I have it up and running on my M1 MBP running Monterey 12.1 and the latest `gnupg` from `brew`.

[2022-01-10 20:06] shepherdjerred commented on #3
Perfect! Your PR fixed it for me.

[2022-01-13 20:09] Dentrax commented on #9
@jorgelbg Hey! Any advices or help here? 🙏

[2022-01-19 05:42] SunsetYe66 opened #19 "gpg: [stdin]: clear-sign failed: No pinentry"
## Describe the bug

I have freshly installed the pinentry-touchid from homebrew. The configuration didn't work well. I would appreciate it if you can locate what the problem is.

I tried: `pinentry-touchid`
returns: `OK Hi from pinentry-touchid!`

When pinentry program is set to `pinentry-mac`, running `echo "test" | gpg -vvv clearsign` returns:
<details>

[code]
</details>

But if set to `pinent

[2022-01-19 06:25] SunsetYe66 commented on #9
@Dentrax You may need to:

- Open `Keychain Access.app`
- Search for `gnupg` related item
- Del it/them and make sure:
    - have executed `defaults write org.gpgtools.common DisableKeychain -bool yes`
    - have executed `killall -9 gpg-agent; gpg-connect-agent reloadagent /bye`

Then try again. This workaround saved me from this bug.

[2022-01-19 06:27] SunsetYe66 commented on #19
this problem is fixed in https://github.com/jorgelbg/pinentry-touchid/pull/18 , tested passed on my own build [v0.0.3-rc1-b1](https://github.com/SunsetYe66/pinentry-touchid/releases/tag/v0.0.3-rc1-b1)

[2022-01-19 06:27] #19 closed

[2022-01-30 01:10] notpushkin commented on #10
For those who can't live without it (e. g. have a Password Store setup that have worked so neat with Touch ID) – here's a quick and dirty (I mean, _really_ dirty) pinentry implementation in Swift by yours truly.

https://gitlab.com/notpushkin/pinentry-tem
https://github.com/notpushkin/pinentry-tem (mirror)

I hope that it helps you folks until pinentry-touchid is fixed, or I get my shit together a

[2022-02-06 20:09] Rednox commented on #4
@jorgelbg:
That should be pretty simple regarding the [documentation](https://developer.apple.com/documentation/localauthentication/lapolicy/lapolicydeviceownerauthenticationwithbiometricsorwatch?language=objc#declaration) you have to change
`LAPolicyDeviceOwnerAuthenticationWithBiometrics` to `LAPolicyDeviceOwnerAuthenticationWithBiometricsOrWatch` in the package [touchid](https://github.com/lox/

[2022-02-06 23:14] davidxia commented on #3
seems like this issue can be closed?

[2022-02-06 23:14] davidxia commented on #11
seems like this issue can be closed?

[2022-02-06 23:26] davidxia opened #20 "help needed: using Yubikey, no touch ID prompt, bad PIN error"
## environment

I'm using M1 Mac, OS X 12.1, gpg 2.3.4, pinentry-mac 1.1.1.1, pinentry-touchid 0.0.2. My GPG private key is on my [Yubikey 5C NFC](https://www.yubico.com/product/yubikey-5c-nfc/).

## Problem

If I use pinentry-touchid in `~/.gnupg/gpg-agent.conf`

[code]

and run `echo 1234 | gpg -as -`, I see

[code]

I'm not prompted for a PIN or for touch ID.

## What I expect

To be prompted f

[2022-02-08 22:11] ka2er commented on #20
same issue

[2022-02-15 20:32] troyanov commented on #15
I just hit the same issue and was able to add a fallback scenario when pinentry-mac is called.

If worked for me and in case you want to try it out please check https://github.com/jorgelbg/pinentry-touchid/pull/21

[code]

Don't forget to set a proper path to a new binary in `~/.gnupg/gpg-agent.conf` and execute `gpgconf --kill gpg-agent`

[2022-02-23 14:13] Dentrax commented on #9
I don't know exactly what `defaults write org.gpgtools.common DisableKeychain -bool yes` does under the hood so I didn't run the command to try. Can you please explain a bit these, and why I have to delete `gnupg` key?

cc @jorgelbg

[2022-02-24 03:57] SunsetYe66 commented on #9
Since it's too long for me to recall every detail, I may try my best to explain it. I think pinentry-touchid is acted as the agent to translate between fingerprint and REAL GPG PASSWORD. This procedure can be securely done by macOS's built-in Keychain Access function, and the GPG suite does the same thing in the same way.

In my scenario, when the first time `pinentry-touchid` was executed, it fal

[2022-03-05 13:41] CharlieYu4994 opened #23 "Suggestion: Abandon the pinentry-mac."
Why not just abandon the pinentry-mac, and store the password by yourself?

[2022-04-14 02:02] allenzhao opened #25 "Exporting key error"
I was trying to export my keys and found that it's not possible in the command line using gpg  --armor --export-secret-keys

I end up using something like this:
[code]
Is this expected?

[2022-04-22 02:17] jgresty opened #26 "Respect PINENTRY_USER_DATA=USE_CURSES=1"
pinentry-mac falls back to pinentry-curses if the env var `PINENTRY_USER_DATA=USE_CURSES=1` is set, however pinentry-touchid does not respect this and will always prompt for touchid.

This is needed when pinentry is requested over a remote connection where the user has no physical access to the system, ie ssh sessions.

[2022-05-05 17:25] ThisIsMissEm opened #27 "pinentry-touchid -fix is not a command"
## Describe the bug

I just installed pinentry-touchid from homebrew, and I'm following the readme, and when I run:

[code]

I get the message:

[code]

`pinentry-touchid -check` works fine though.

## System information

**macOS**
 - Architecture: Intel
 - Version: 12.3.1

**GPG**
 - Output of `gpg --version`
[code]

 - Installed via Homebrew? yes

**Configuration**

 - Please attach the output o

[2022-05-05 21:08] artyorsh commented on #27
Had the same when installing with Homebrew and got it fixed [installing manually](https://github.com/jorgelbg/pinentry-touchid#manual-installation)

[2022-05-06 16:50] ThisIsMissEm commented on #27
Turns out it's an issue because those are installing 0.0.2, the stable release, not the release candidate for 0.0.3

[2022-05-07 11:06] artyorsh commented on #27
@jorgelbg can we update?

[2022-06-06 15:02] stffndtz opened #28 "Pinentry Serve returned error: EOF"
## Describe the bug

When running `echo "GETPIN" | pinentry-touchid` I get the following response

[code]

pinentry-mac runs as expected - I have tried to unsinstall & re-install pinentry-mac & pinentry-touchid with no sucess at this point. I have also been looking for similar issues but haven't found a solution as of yet.

## System information

**macOS**
 - Architecture: Intel
 - Version: 12.3.1

[2022-06-14 00:34] benwaffle commented on #27
@jorgelbg can you tag a v0.0.3 release?

[2022-06-19 18:43] dnmgns commented on #10
This workaround resolved the issue for me: https://github.com/jorgelbg/pinentry-touchid/issues/3#issuecomment-915440261

[2022-07-01 15:39] nemscep opened #29 "gpg: signing failed: No passphrase given"
## Describe the bug

I managed to configure `pinentry-mac` to work nicely, but when I try to switch to `pinentry-touchid` I am unable to find a proper way of solving this problem. After I follow the steps provided after installation, I keep getting the following error message:
[code]

Simplest test to reproduce:

```echo "test" | gpg -vvv --clearsign```

I have generated keys which have passphrase

[2022-08-03 15:31] JanWittler commented on #11
@Gby56 Can you elaborate on how you cleared your keychain? I have exactly the same issue of the "Duplicated entry in the keychain" error. I already adjusted the symlink, after that cleared out my keychain by deleting the one entry with location "GnuPG", added it back into the keychain using pinentry-mac, but when changing to pinentry-touchid it still says gives me the duplication error.
Would be g

[2022-08-03 16:45] Gby56 commented on #11
Hi ! Sorry it's been a while since I've had the issue... I'll try to dig back into it but as far as I can tell, you did the appropriate steps I think

[2022-08-04 16:45] jorgelbg commented on #11
@JanWittler Can you check the output of this command:

[code]
This should list dump and return any items that is matching GnuPG. You can also use:
[code]
but this command only returns the first matching item.

[2022-08-04 16:51] JanWittler commented on #11
Wow, thank you already very much for the surprising fast answers.

[code]

[2022-08-04 17:24] jorgelbg commented on #9
@Dentrax I released v0.0.3 a few minutes ago, would you mind giving it a try? Just to be sure:

[code]

should indicate pinentry-mac (the program that we use to get your GPG password when it is not there) to not use the the keychain, as in it acts as a proxy just for getting your password. After pinentry-touchid gets a password from pinentry-mac it stores it by itself in the keychain. This helps p

[2022-08-04 17:31] jorgelbg commented on #20
Could you enable the debug options for gpg-agent? It seems that it is sending something to pinentry-touchid and but it is just getting an `END` as a reply? I haven't currently tested this with a Yubikey, but I will give it a try. You can also check the output of `$TMPDIR/pinentry-touchid.log` to see if anything interesting gets logged.

[2022-08-04 17:47] jorgelbg commented on #26
Oh, interesting I hadn't considered this use case TBH 😅.

[2022-08-04 19:08] Dentrax commented on #9
Hi @jorgelbg, thank you for your efforts on this! I just tried the v0.3.0 release by downloading [macos-amd64 binary](https://github.com/jorgelbg/pinentry-touchid/releases/tag/v0.0.3).

Here is what I have tried so far:

1. Create a new test repo:

[code]

2. Checked my `~/.gnupg/gpg-agent.conf` file to ensure `pinentry-program` is set to `/usr/local/bin/pinentry-touchid`:

[code]

3. Disable the

[2022-08-04 19:25] Dentrax commented on #9
Ohhh, according to [this comment](https://github.com/jorgelbg/pinentry-touchid/issues/11#issuecomment-1205513270) and as @SunsetYe66 mentioned deleting it above, I deleted my `GnuPG` key, and finally it works like a charm! :tada:

To make UX better here, pinentry-touchid should check the `GnuPG` key in the keychain: `security find-generic-password -s 'GnuPG'` whether it's correct. Or would better

[2022-08-05 14:43] jorgelbg commented on #9
Glad that it is working 🥳

I'm all in favour of improving the UX here, I'm just not sure _why_ this is happening in the first place.

Did you, by any chance, kept the details of the item that you found when executing the commands in the terminal? I'm curious about why pinentry-touchid tried to add the item _again_. The first thing that we do is check if, for the given GPG key, we can find a matchi

[2022-08-05 15:00] jorgelbg commented on #29
Hi @nemscep I get the feeling that maybe `pinentry-touchid` is not falling back to pinentry-mac. Can you check the output of:

[code]

and also include the log content of `$TMPDIR/pinentry-touchid.log` ?

[2022-08-05 15:02] #27 closed

[2022-08-05 15:03] jorgelbg commented on #28
@stffndtz can you give it a try to the latest release (v0.0.3) and check if it fixes the issue?

[2022-08-05 15:08] jorgelbg commented on #25
I don't think that we currently support this use case. From a quick overview it seems that we would need to skip all the touchid integration (since you are directly providing the passphrase). I will try to take a closer look and see if we can automatically fallback to pinentry-mac in this case.

[2022-08-05 15:13] jorgelbg commented on #17
Interesting, in this case it seems that pinentry-touchid (or rather go-assuan/pinentry) is behaving as expected (partially) if `--clear` is passed by the agent the KeyInfo is cleared.

But, TBH I'm not sure what would be a better scenario here, because KeyInfo is needed/used to store the pin/passphrase in the keychain 🤔. We could decide to ignore the `--clear` flag but I'm not sure if that is wise

[2022-08-05 15:15] jorgelbg commented on #11
@JanWittler can you remove/clear the keychain from any matching key and then giving it another try?

If possible can you make a backup of the item from the keychain? It would be interesting to find out why pinentry-touchid is failing to recognize that there is already an item in the keychain. I'm just not sure on how to look into the issue since I am not able to reproduce it myself and there is se

[2022-08-05 15:17] jorgelbg commented on #3
Closing this issue now that it is confirmed to be working.

[2022-08-05 15:17] #3 closed

[2022-08-05 15:19] jorgelbg commented on #23
I'm keeping this open as it is becoming a really good suggestion 😅.

The reason why I didn't go that route was because pinentry-mac already implements everything what is expected from a pinentry GUI program, it uses the data provided by the agent to tweak the UI and I would had to either reimplement that logic completely or just go for a very basic UI that only asks for the password and does not c

[2022-08-05 15:23] jorgelbg commented on #10
From this error:

[code]

it seems that pinentry-touchid is falling back to pinentry/pinentry-curses instead of pinentry-mac. Can you check by running:

[code]

and also there is a new `-fix` flag that should automatically fix the symlink for you:

[code]

[2022-08-05 15:25] stffndtz commented on #28
@jorgelbg It seems I am still getting the same error after the update:

[code]

Post update (via brew) I ran

[code]

Let me know if I can help!

[2022-08-06 10:48] lgarron commented on #15
Any chance of a workaround or a config option to `sensor.IsTouchIDAvailable()` to force a Touch ID prompt even when the lid is closed?

I have an M1 MBP and use Touch ID with the lid closed (using the new external keyboard with Touch ID) almost all the time.
A password fallback kind of negates the whole point of using `pinentry-touchid` for me. 😔

[2022-08-07 08:25] Myridium commented on #28
I have the same issue. I can use `pinentry-touchid` for `gpg-agent`, but I cannot use it generally for other programs.
[code]

[2022-08-07 08:42] Myridium commented on #28
Could this be the culprit?

https://github.com/jorgelbg/pinentry-touchid/blob/0235243df4d2795475cc2067b89a0f69f1e6b798/main.go#L428-L431

Note the response from `pinentry-mac` is not `Hi from pinentry-mac!`. In fact it is `Pleased to meet you`. Viz.
[code]

So maybe line `428` should be changed to:

[2022-08-07 12:19] jorgelbg commented on #15
@lgarron Yep, this is definitively a use case that I want to support.

I haven't been able to find any API changes required for supporting the Magic Keyboard with Touch ID so far. We do not execute any additional checks beyond testing if the `LAPolicyDeviceOwnerAuthenticationWithBiometrics` can be evaluated. My expectation/understanding was that the external Touch ID would behave exactly as the bu

[2022-08-07 12:32] jorgelbg commented on #28
Just to be clear, if you are _only_ checking directly with:

[code]

This is _rightfully_ showing the pinentry-mac GUI. This happens because you haven't followed the full assuan protocol to talk to pinentry. Yes, `GETPIN` is a valid assuan command that pinentry-touchid understands but since no information about your GPG key has been provided, it assumes that there is no item in the keychain and as

[2022-08-07 12:41] Myridium commented on #28
This comment doesn't appear to have any relation to this bug report.

[2022-08-07 12:51] Myridium commented on #26
Is this option unique to `pinentry-mac` or is it something which is respected by other `pinentry` programs too?

[2022-08-08 04:47] davidxia commented on #20
@jorgelbg Here's my `~/.gnupg/gpg-agent.conf`

[code]

Here's the output of `tail -f /Users/dxia/.gnupg/gpg-agent.log`. First I ran `gpgconf --kill gpg-agent && gpg-connect-agent reloadagent /bye`. Then after the gap below, I ran `echo 1234 | gpg -as -`. It looks like gpg-agent is trying to ask me to enter the key's secret key, but I am not prompted for it, and the encryption fails.

[code]

[2022-08-08 12:35] jgresty commented on #26
`PINENTRY_USER_DATA` is used by gpg-agent to pass data to the underlying pinentry process, however `USE_CURSES` is unique to macos as pinentry normally uses the `DISPLAY` variable on other platforms.

https://github.com/GPGTools/pinentry/blob/b7195e9d4c098ea315e18ade3b4dab210492fadf/macosx/main.m#L67

[2022-08-08 17:08] jorgelbg commented on #28
What I meant is that just sending `GETPIN` to pinentry-touchid is not enough and it does not considered a valid assuan session, the gpg-agent (and I would expect the same from the program that is trying to use it) should do the valid session.

In this case `EOF` is just a report of an early disconnection. That being said it is true that pinentry-mac does not consider this early termination as an u

[2022-08-08 17:21] Myridium commented on #28
Thanks, I'll give it a try soon.

To clarify, the problem (for me at least) is that `echo GETPIN | pinentry-touchid` is a perfectly valid way to use a pinentry program, however it returns an error in this case even though a PIN can be fetched from the user. So, the program succeeds in collecting a PIN, but it prints an error message and, more importantly, returns a non-zero exit code.

In my case,

[2022-08-08 17:25] Myridium commented on #28
I don't know anything about Assuan commands, but the way that `rage` uses `pinentry` triggers this error, so I assume that something about `pinentry-touchid` is not conforming to spec here. I'll try the fix soon.

[2022-08-09 19:08] Myridium commented on #28
Sorry, I don't use `go` and don't know how to compile this project, so I can't try your fix.
If you add a `Makefile` for dummies, I can `make`.

[2022-08-10 09:34] jorgelbg commented on #28
I've added a step to the CI that should build & upload the binaries. You could grab the built binaries from the summary page of the workflow. For instance for the latest commit: https://github.com/jorgelbg/pinentry-touchid/actions/runs/2831484675 (at the bottom).

[2022-08-10 09:42] jorgelbg commented on #28
I had a chance to take a look under the hood at what `rage` sends to the pinentry program and I think that pinentry-touchid will keep falling back **always** to pinentry-mac.

When used with PGP the `gpg-agent` sends some identifying metadata about the key that is requesting the passphrase. This metadata is used by pinentry-touchid to tag the passphrase when it is stored in the keychain, since it

[2022-08-10 15:22] Myridium commented on #28
Excellent, thanks for that clear explanation. I had wondered how pinentry-touchid knows which secret is being requested. That explains it.

The `gpg-agent` must pass an identifier string to the Assuan `GETPIN` instruction, or use a different instruction. Is it possible for `pinentry-touchid` to support caching of secrets with arbitrary identifiers/tags? Could you give an example of a shell command

[2022-08-11 11:51] troyanov commented on #15
Oh, I wanted to check what Apple would say about it and seems that @jorgelbg already did it :)
https://developer.apple.com/forums/thread/711838

Seems to be a bug related to `LAContext` API

[2022-08-11 13:53] jorgelbg commented on #28
The majority of the information is passed via the `SETDESC` command. The pinentry program is expected to extract the metadata from the description. For instance: https://github.com/jorgelbg/pinentry-touchid/blob/1170eb6bc7b23313aee622887b47b77be6e5fb5f/main.go#L52-L53

If the description contains any of the info that matches those regexes (plus the key ID) it will be used to label the keychain ite

[2022-08-25 10:21] malte-nycro commented on #10
Hi @jorgelbg ,
Thanks for the hint, but now there is another issue:

Your documentation states, that I have to save the passphrase in the MacOS Keychain. The Problem is, that I'm not offered the option to do so.
I use a Nitrokey for authenticating againt my SSH servers, so the gpg-key is saved on the Nitrokey itself.
When I try to access the SSH server, I'm prompted to enter the Passphrase but no

[2022-08-29 11:49] jorgelbg commented on #10
@congoelmex even if you don't see the option to save in the Keychain in the pinentry-mac UI, pinentry-touchid should still create an item in the keychain automatically, as long as no duplicated entry is found. If a duplicated item is found it should be logged in:
[code]
and you could use the commands from https://github.com/jorgelbg/pinentry-touchid/issues/11#issuecomment-1205519449 to find those

[2022-08-29 21:24] jorgelbg commented on #15
I finally got my hands on an external keyboard with Touch ID for testing this properly. Sadly I'm not able to reproduce the issue:

https://user-images.githubusercontent.com/1291846/187300210-b4255633-bb1e-41bb-ba7e-29c0023d5341.mp4

as shown in the video, I'm using the command:
[code]
to verify that the lid is actually closed, after that calling:
[code]
as a simple test case successfully call pin

[2022-08-30 14:31] brandonryan opened #30 "Error: Duplicated entry in the keychain when gpg has comment"
## Describe the bug

I've been trying to use this gpg-agent for a while now. Finally got it working on the M1 chip mac.
However, now im running into a new issue related to gpg comments and regex.

Seems like pinentry-mac stores the key in the keychain without the comment, so when pinentry-touchid is looking for it, it isnt found -> tries to create -> duplicate key error.

## System information

**

[2022-08-31 16:55] malte-nycro commented on #10
Hi @jorgelbg and thank you for your answer. It still doesn't work.
Maybe it helps, if I share some details:

pinentry-mac version: 1.1.1 (installed bei GPGSuite from gpgtools.org)
pinentry-touchid version: latest version from your git repository

I start with this gpg-agent.conf:
`enable-ssh-support`
`default-cache-ttl 600`
`max-cache-ttl 7200`
`#pinentry-program /usr/local/opt/pinentry-touchid/bi

[2022-08-31 17:44] malte-nycro commented on #10
should these entries:

`2022-08-31 19:41:53 gpg-agent[7351] starting a new PIN Entry`
`2022-08-31 19:41:53 gpg-agent[7351] DBG: connection to PIN entry established`
`2022-08-31 19:41:53 gpg-agent[7351] You may want to update to a newer pinentry`

from the gpg-agent.log worry me somehow?
Even if I try to install the homebrew version of the agent it still shows version 1.1.1

[2022-09-07 04:05] Truckerbug opened #31 "gpg: signing failed: Bad Passphrase"
Happens when I run ```$ echo "1234" | gpg -as -```
Reset Passphrase used from TouchID?

(using) M1 Mac
**GPG**
```$ gpg --version```

gpg (GnuPG) 2.3.7
libgcrypt 1.10.1
Copyright (C) 2021 Free Software Foundation, Inc.
License GNU GPL-3.0-or-later <https://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by

[2022-10-13 10:19] caraar12345 opened #32 "Password not saved to Keychain"
## Describe the bug

`pinentry-touchid` doesn't save the password into the Keychain.

As a result, I get the password/confirm password popup every time I use my GPG key which is really quite annoying 😅

## System information

**macOS**
 - Architecture: M1 Pro
 - Version: 12.6 (21G115)

**GPG**
 - Output of `gpg --version`
[code]
 - Installed via Homebrew? ✅

**Configuration**

 - Please attach the